<body class="post-page">
  <%- include('../../__partials/subscribe-ad') %>

  <div class="container">
    <%- include('../../__partials/header') %>

    <div class="row"><div class="col-sm-12"><%- postHtml %></div></div>

    <hr />
    <%- include('../../__partials/subscribe') %>
    <hr />

    <%- include('../../__partials/add-this-sharing-buttons') %> <%-
    include('../../__partials/disqus') %> <%- include('../../__partials/footer')
    %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-jsx.min.js"></script>
  <script src="/__static/js/app.js"></script>

  <%- include('./ad') %> <%- include('../../__partials/google-analytics') %> <%-
  include('../../__partials/add-this') %>
</body>
