<body class="landing-page">
  <div class="container text-center">

    <%- include('../../partials/header') %>

    <div class="row">
      <div class="col-sm-12">
        <ul class="posts">

          <%
          for (var iterator = 0; iterator < posts.length; iterator++) {
          %>
            <li>
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
              <a href="/<%= posts[iterator].slug %>/">
                <%= posts[iterator].title %>
              </a>
            </li>
          <%
          }
          %>

        </ul>
      </div>
    </div>    

    <%- include('../../partials/footer') %>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="/__static/js/app.js"></script>

  <%- include('../../partials/google-analytics') %>
</body>